* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #50BFDD;
}

header p {
    padding-left: 20px;
    color: #FFFFFF;
    font-size: 1.2rem;
}

header nav {
    padding-right: 20px;
}

header nav #menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    gap: 4px;
    position: relative;
    z-index: 1;
}

header nav #menu .menu-line {
    width: 20px;
    height: 3px;
    background-color: #FFFFFF;
    border-radius: 1px;
    position: relative;
    transition: all .2s;
}

header nav #nav-list {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25vw;
    height: 400px;
    background-color: #FFFFFF;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    box-shadow: 2px 2px 2px 2px #000000;
    transition: all .5s;
    transform: translateX(100%);
}

header nav #nav-list .list-item {
    margin: 0px 20px 15px 20px;
    transform: translateX(100%);
}

header nav #nav-list a {
    display: block;
    text-decoration: none;
    color: #787878;
    padding: 10px 10px;
}

.menu-active {
    transform: translateX(0%);
}